body {
  margin: 0;
  padding: 0;
  background-color: rgb(169, 169, 184);
  color: rgb(255, 255, 255);
  font-family: poppins, serif;
}

hr {
  border: 0;
  background: rgb(131, 131, 151);
  height: 1.2px;
  margin: 40px 84px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem 5rem;
  gap: 2rem;
  place-items: center;
}

#element {
  color: rgb(110, 110, 110);
}
.black {
  color: rgb(110, 110, 110);
}

.hd-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.hd-2 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.links {
  grid-column-start: 3;
  grid-row-start: -3;
  grid-row-end: -1;
  align-self: center;
}

.links ul li {
  list-style: none;
  line-height: 2.5rem;
}

.links ul li a {
  text-decoration: none;
  color: rgb(99, 88, 88);
}

.links ul li a:hover {
  color: white;
  font-size: 1.1rem;
}

.main-1 {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-me {
  margin: 2rem 1rem 0.5rem 0.5rem;
}

.photo {
  opacity: 60%;
}

.Projects {
  margin: 40px;
  text-align: center;
}

.box {
  display: flex;
  background: white;
  width: 80vw;
  height: 2px;
  margin: 30px 0px 0px 110px;
}

.vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0px 100px;
}

.img-1 {
  width: 43px;
  height: 43px;
  top: -24px;
  left: -10px;
  position: relative;
  font-size: small;
  text-align: center;
  text-decoration: auto;
  justify-self: center;
  align-self: center;
}

.vertical-title1 {
    position: relative;
    top: 100px;
    font-size: 20px;
    width: 150px;
    left: -140px;
}

.vertical-p1 {
    position: relative;
    top: 169px;
    left: -295px;
    color: grey;
    width: 150px;
    font-size: 12px;
}

.vertical-title2 {
    position: relative;
    top: 100px;
    font-size: 20px;
    width: 150px;
    left: -140px;
}

.vertical-p2 {
    position: relative;
    top: 169px;
    left: -295px;
    color: grey;
    width: 150px;
    font-size: 12px;
}
