* {
  /* background-color: #f2ebeb; */
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(167, 167, 179);
  color: rgb(255, 255, 255);
  font-family: poppins, serif;
}

.header {
  /* background-color: red; */
  display: grid;
  /* position: relative; */

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem 5rem;
  gap: 40px;
  place-items: center;
}

.hd-1 {
  /* background-color: aqua; */
  grid-template: header;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 3;
}

.hd-2 {
  /* background-color: aqua; */
  grid-template: header;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 3;
}

.links {
  /* background-color: blue; */
  grid-template: sidebar;
  color: beige;
  gap: 40px;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  place-self: center;
  align-self: first baseline ;
}
